/* ----- Algemeen ----- */

body{
    margin:0;	
    width:1024px;
    max-width:1049px;
    background:#e7f6f5;
    -webkit-user-select: none;
}

.button{
	float:left;
    width: 140px;
	height:64px;
   	z-index:100;
	bottom:4px;
	position:absolute;
}



/* ----- Positionering ----- */

#container{
    float:left;
    width:1024px;
    background:#e7f6f5;
}

.top{
    position:relative;
    float:left;
    width:100%;		
}

.top .upperbar, .lobby .upperbar{
    height:20px;
    width:100%;
    background:	#16aa9e;
    float:left;
}

.top .vraag{
    width:840px;
    margin:0 70px;
    margin-top:40px;
}

.top .image{
    margin:25px 0;
}

.top .image img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height:100%;	
}

.bottom{
    position:relative;
    float:left;
    width:100%;	
}

.bottom .statusbalk, .lobby .bottom-bar{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;	/* (50/768) * 100 = 6,51% */
    background:#16aa9e;
}

.bottom .statusbalk ul{
    float:left;
    list-style:none;	
    -webkit-margin-before:0px;
    -webkit-padding-start:0px;
    margin:0px 30px;
}

.bottom .statusbalk li{
    float:left;
    width:80px;
    height:50px;
    text-align:center;	
}

.bottom .statusbalk li span{
    color:#e7f6f5;	
}

.bottom .statusbalk li span.active{
    color:#fff;	
}

.bottom .statusbalk .potlood{
    float:left;
    width:38px;
    height:50px;
    margin-left:60px;
}
.bottom .statusbalk .potlood span{
    float:left;
    width:38px;
    height:38px;
    margin:6px 0;	
}
.bottom .statusbalk .icon{
    float:left;
    width:25px;
    height:50px;
    margin-left:20px;
}
.bottom .statusbalk .icon span{
    float:left;
    width:25px;
    height:13px;
    margin:18px 0;	
}



/* ----- Icons ----- */

.button, #button1{ background:#16aa9e url(../images/icons/arrow_right.png) no-repeat center center; }

.bottom-bar .bottom-logo{ background:#16aa9e url(../images/elements/quora_logo_small.png) no-repeat center center; }

.bottom .statusbalk .icon span{ background:url(../images/icons/individu.png) no-repeat center center; }
.bottom .statusbalk .potlood span{ background:url(../images/icons/pencil.png) no-repeat center center; }

#sketch #sketchbar #thrash span{ background:url(../images/icons/thrashcan.png) no-repeat center center; }
#sketch #sketchbar #arrow_down span{ background:url(../images/icons/arrow_down.png) no-repeat center center; }

input[type=radio]:checked + .radio { background: url(../images/vinkje.png) #16aa9e no-repeat center center; }



/* ----- Typografie ----- */

@font-face{
    font-family: SourceSansPro;
    src: url(../font/SourceSansPro-Regular.ttf);
}

@font-face{
    font-family: SourceSansProLight;
    src:url(../font/SourceSansPro-ExtraLight.ttf);
}

@font-face{
    font-family: OpenSansCondBold;
    src: url(../font/OpenSans-CondBold.ttf);
}

body, .vraag, .antwoord, li span.active, .lobby .loginform #player, .lobby .loginform #password, .lobby #players span, .overlay #uitleg { /* Regelar font */
    font-family: SourceSansPro;	
}

li span, .lobby .loginform span, .button-container span, .lobby #players h2{ /* Light font */
    font-family: SourceSansProLight;	
}

.lobby .loginform span, .lobby #players h2, .lobby #players span{
	font-size:34px;
	color:#333;	
	font-weight:normal;
}

.button-container span{
	font-size:32px;
	color:#333;	
}

.vraag, .lobby .loginform #player, .lobby .loginform #password{
    font-size:32px;
    line-height:46px;
    color:#333;	
}

.antwoord{
    font-size:48px;
    text-align:center;	
}

li span{
    line-height:50px;
    font-size:14px;
}

li span.active{
    font-size:26px;
    font-weight:bold;
}

label .value{
    line-height:42px;
    font-size: 28px;	
}

.lobby{
    text-align:center;	
}

.overlay #uitleg{
	font-size:24px;
	text-align:center;	
}

.lobby h1{
	font-family: OpenSansCondBold;
	font-size:100px;
	font-weight:normal;
	color:#333333;
}



/* ----- Enkele Vraag ----- */

.reken .bottom{
    height:256px;
}

.reken .top{
    height:512px; 
}

.reken .antwoord{
    width:670px;
    height:155px;
    margin-left:70px;
    border:1px solid #16aa9e;	
    color:#333;
    border-radius:0;
    float:left;
}



/* ----- Multiple Choice vraag ----- */

.multi .bottom{
    height:320px !important;
}

.multi .top{
    height:448px !important; 
}

#multipleForm{
    width:840px;
    float:left;
}

input[type=radio] {
    display: none;
}
input[type=radio] + .radio {
    display: inline-block;
    border: 1px solid #16aa9e;
    border-radius: 0;
    margin: 0 5px;
    margin-bottom: -10px;
    background:#fff;
    width:36px;
    height:36px;
    float:left;
}

label{
    float:left;
    margin:7px 70px 7px 30px;
    width:750px;
}

label .value{
    display:block;
    float:left;
    height:50px;
    margin-left:25px;	
}



/* ----- Sketch ----- */

#sketch{
    position:absolute;
    left:0;
    top:768px;	
    width:1024px;
    height:570px;
    z-index:2;
}

#sketch #sketchbar{
    height:60px;
    width:1024px;
    background: #16aa9e;
    float:left;
}

#sketch #sketchbar #thrash{
    float:left;
    width:38px;
    height:60px;
    margin-left:420px;
}

#sketch #sketchbar #thrash span{
    float:left;
    width:38px;
    height:38px;
    margin:11px 0;	
}

#sketch #sketchbar #arrow_down{
    float:left;
    width:38px;
    height:60px;
    margin-left:493px;
}
#sketch #sketchbar #arrow_down span{
    float:left;
    width:38px;
    height:38px;
    margin:11px 0;
}

#sketch #sketchpad {
    float:left;
    width:1024px;
    height:520px;
    background-color: rgba(0, 0, 0, 0.75);
}



/* ---- Lobby ----- */

.lobby{
    width: 1024px;
    height: 768px;
	position:relative;
}

.lobby .title, .lobby .loginform{
	margin:0 auto;
	width:512px;
	text-align:center;	
}

.lobby .loginform{
	height:512px;
}

.lobby .title h1{
	margin:0;
	padding-top:50px;	
	padding-bottom:20px;
}

.lobby .loginform span{
	width:320px;
	float:left;	
	margin:20px 96px 10px;
	text-align:left;
}

.lobby .loginform #player, .lobby .loginform #password{
    height: 64px;
	width:320px;
	float:left;
	margin:0 96px;
    text-align: center;
	border:1px solid #16aa9e;
}

.lobby #players h2{
	margin:0;	
}

.lobby #players span{
	float:left;
	width:100%;	
}

.lobby #laden{
	position: absolute;
	margin: 0 auto;
	text-align: center;
	bottom: 64px;
	left: 372px;
	height: 32px;
}

.lobby #laden h3{
	color:#333 !important;
}

#button1{
	float:left;
    width: 140px;
	height:64px;
   	z-index:100;
	bottom:4px;
	position:absolute;
}

.button-container{
	width:144px;
	height:113px;
	position:absolute;
	bottom:72px;
    right:60px;		
}

.button-container .button-text{
	width:100px;
	float:left;	
	text-align:left;
	margin-bottom:5px;
}

.button-shadow{
	z-index:1;
	width:140px;
	height:64px;
	background:#333;
	position:absolute;
	float:left;
	bottom:0px;
	right:0px;
}

.bottom-bar .bottom-logo{
	width:29px;
	height:38px;
	margin:6px auto 0;	
}


/* ---- Overlay ----*/

.overlay{
    background:#16aa9e;
    background: -webkit-radial-gradient(center, ellipse cover, #5ec4bc 0%,#16aa9e 100%);
    position: absolute;
    width: 1024px;
    height : 768px;
    top:0;
    left:0;
}

.nextButton{
    float:left;
    width: 140px;
	height:64px;
   	z-index:100;
	bottom:4px;
	position:absolute;
    background:url(../images/icons/arrow_right_blue.png) white no-repeat center center;	
}

.overlay .button-container .button-text{
	color:white;
	text-align:center;
}

.overlay .button-shadow{
	background:#11857c;
}

.overlay #uitleg{
	color:white;
	margin:0 auto;
	width:860px;	
	margin-top:60px;
}

#laden{
    margin:0 auto;
    width:280px;
    height:64px;
    margin-top:220px;
    text-align:center;		
}

#laden h3{
    font-family: SourceSansProLight;
    font-size:24px;
    color:white;
    text-align:center;	
    font-weight:normal;
    margin:0 auto;
    width: 300px;
}

#vraagnummer{
    padding-top:270px;	
}

#vraagnummer, #categorie{
    margin:0 auto;
    width:420px;
    text-align:center;	
}

#vraagnummer h1{
    font-family: SourceSansProLight;
    color:white;
    font-size:100px;
    font-weight:normal;	
    margin:0;
}

#categorie h2{
    font-family: SourceSansProLight;
    color:white;
    font-size:32px;	
    font-weight:normal;		
    margin:0;
    padding-bottom:60px;
}

#alertName{
    color:red;
    visibility:hidden;
}

#alertPass{
    color:red;
    visibility:hidden;
}
