#container{
	background:#16aa9e;
	background: -webkit-radial-gradient(center, ellipse cover, #5ec4bc 0%,#16aa9e 100%);
	height:768px;	
	position:absolute;
}

#logo{
	margin:0 auto;
	margin-top:200px;
	width:221px;
	height:298px;	
}

#logo span {
	float:left;
	width:100%;
	height:100%;
	background:url(../images/elements/quora_logo.png);	
}

#laden{
	margin:0 auto;
	width:280px;
	height:64px;
	margin-top:220px;
	text-align:center;		
}

#laden h3{
	font-family: SourceSansProLight;
	font-size:24px;
	color:white;
	text-align:center;	
	font-weight:normal;
	margin:0 auto;
}

#vraagnummer{
	padding-top:270px;	
}

#vraagnummer, #categorie{
	margin:0 auto;
	width:420px;
	text-align:center;	
}

#vraagnummer h1{
	font-family: SourceSansProLight;
	color:white;
	font-size:100px;
	font-weight:normal;	
	margin:0;
}

#categorie h2{
	font-family: SourceSansProLight;
	color:white;
	font-size:32px;	
	font-weight:normal;		
	margin:0;
	padding-bottom:60px;
}

.nextButton{
	width:140px;
	height:64px;
	position:absolute;
	float:right;
	bottom:64px;
	right:76px;	
	background:url(../images/icons/arrow_right_blue.png) white no-repeat center center;	
}